/* =========== DEFAULT  ============ */
*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* =========== DEFAULT  ============ */

/* =========== HEADER  ============ */

.header .container .header-nav .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.header {
  margin-bottom: 10px;
}

.header .container {
  border-bottom: 1px solid rgba(70, 163, 88, 0.2);
}

.logo_svg {
  fill: #46a358;
}

.logo_text {
  color: #46a358;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.header .container {
  padding-bottom: 17px;
  margin-top: 25px;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.nav-menu-item-link {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: 400;
  transition: font-weight 250ms, transform 250ms;
  transform: scale(0, 1);
}

.nav-menu-item {
  position: relative;
}

.nav-menu-item:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 0px solid #46a358;
  bottom: -25px;
  opacity: 1;
  transition: border-bottom 0.1s, transform 0.1s;
  transform: scale(1, 0);
}

.nav-menu-item:hover:after,
.nav-menu-item:focus:after {
  border-bottom: 3px solid #46a358;
  transform: scale(1);
}

.nav-menu-item-link:hover,
.nav-menu-item-link:focus {
  font-weight: 600;
  transform: scale(1);
}

.header-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 230px;
}

.icon-logout {
  stroke: #fff;
}

.icon-buy {
  fill: #000;
}

.menu-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-button {
  background-color: #46a358;
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 7px 17px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
}

.menu-action-item:nth-child(2) > a {
  position: relative;
  z-index: 1;
}

.cart-number {
  position: absolute;
  bottom: 25%;
  left: 85%;
  font-size: 8px;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #46a358;
  color: #fff;
  border-radius: 50%;
  width: 14.5px;
  height: 14.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid #fff;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    98deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
}

.text-wrapper {
  padding: 68px 43px 85px;
}

.hero-sub-title {
  color: #3d3d3d;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.088em;
  line-height: 115%;
  margin-bottom: 7px;
}

.hero-title {
  color: #3d3d3d;
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100%;
  margin-bottom: 5px;
}
.hero-title-span {
  color: #46a358;
}

.hero-sup-title {
  color: #727272;
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  margin-bottom: 44px;
}

.hero-button {
  color: #fff;
  background-color: #46a358;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  line-height: 125%;
  padding: 10px 27px;
  border: 0;
  border-radius: 6px;
}

.hero-images {
  width: 518px;
  height: 518px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-sm {
  position: absolute;
  bottom: -5%;
  left: 20%;
  transform: translate(-50%, -50%);
}
